* {
    box-sizing: border-box;
}

body{
    font-family: tahoma; 
}

#encabezado{
    display: flex;
    justify-content: center;
    background-color: aqua;
    font-size: 20px;
    width: 100%;
}

#contenedor{
    width: 100%;
    height: 900px;
    background-color: rgb(48, 168, 168);
    text-align: center;
}

#pie{
    display: flex;
    width: 100%;
    background-color: rgb(27, 12, 12);
    justify-content: center;
    color: white;
}